.filter-bar {
    position: relative;
    background-color: transparent;
    margin: 5px 15px;
}

#filterMail {
    background-color: rgb(230, 230, 230);
    padding: 0;
    width: 100%;
    border: none;
    height: 45px;
    border-radius: 6px;
}

#filterMail::placeholder {
    font-size: 1rem;
    padding: 15px;
}

@media (min-width:320px) {

    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .filter-bar {
        margin: 0;
    }
}

@media (min-width:641px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

}