.main-container {
    /* height: 90vh; */
    display: grid;
    grid-template-columns: 245px 1fr 40px;
    grid-template-rows: 55px 1fr;
    /* margin-top: 10px; */
}

.mail-container {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    margin: 0 15px;
    max-height: 80vh;
    grid-column-start: 2;
    grid-row-start: 3;
    overflow-y: scroll;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.mail {
    background-color: bisque;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.filter-bar {
    grid-row-start: 1;
    grid-column-start: 2;
}

.mail-content {
    display: flex;
}

.inbox-unread {
    padding: 10px 21px;
    display: block;
    border-bottom: 1px solid rgb(119, 119, 119);
}

.side-menu-toggle {
    position: fixed;
    font-size: 1.5rem;
}


@media (min-width:320px) {

    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .main-container {
        background-color: red;
        grid-template-columns: 0px 1fr 0px;
    }

    .mail-container {
        margin: 0;
    }

    td p {
        font-size: 0.8rem;
    }

    .side-menu-toggle {
        top: 0;
    }
}

@media (min-width:641px) {

    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */


    .main-container {
        background-color: orange;
        grid-template-columns: 00px 1fr 0px;
        width: 100vw;
    }

    td p {
        font-size: 1rem;
    }
}

@media (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    .main-container {
        background-color: greenyellow;
        grid-template-columns: 255px 1fr 40px;
    }

    .side-menu-toggle {
        opacity: 0;
    }
}

@media (min-width:1281px) {

    /* hi-res laptops and desktops */
    .main-container {
        grid-template-columns: 265px 1fr 40px;
    }

    td p {
        font-size: 1.1rem;
    }
}