.add-note-container {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    box-sizing: border-box;
    height: 50px;
    padding: 0 16px;
    width: 60%;
    box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
  }
  
  .add-note-container input {
    background-color: transparent;
    border: none;
    color: #212121;
    font-size: 14px;
    outline: none;
    width: 100%;
  }
  
  .add-note-container i {
    color: #616161;
    font-size: 20px;
    margin-right: 8px;
  }
  