.notes-index {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-left: 240px;

}

.notes-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 55vw;

  padding: 20px;
}


.note-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.note {
  position: relative;
  width: 250px;
  min-height: 200px;
  margin: 10px;
  padding: 10px 10px 30px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  overflow: hidden;

}

.note:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.note .note-btns {
  position: absolute;
  width: 100%;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.note .note-btns i {
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(39, 36, 36);
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.note-preview a {
  position: absolute;
  right: 8px;
  top: 8px;
  font-size: 23px;
}

.note .note-btns i:hover {
  background-color: #999;
}

.side-menu-toggle {
  position: fixed;
  font-size: 1.5rem;
  left: 20px;
  top: 15px;
}

@media (min-width:320px) {

  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .notes-index {
    margin-left: 0;
    height: 100%;
    justify-content: center;
  }

  .note-list {
    justify-content: flex-start;
    overflow-y: scroll;
    max-height: 85vh;
    margin-bottom: 90px;
  }

  .note-list::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: rgba(232, 67, 67, 0);
    background: rgba(0, 0, 0, 0);
  }

  .note-list::-webkit-scrollbar-thumb {
    background: rgb(219, 92, 7);
    height: 3px;
    border-radius: 10px;

  }

  .notes-container {
    max-width: 90vw;
    margin-bottom: 90px;
  }

}

@media (min-width:641px) {

  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .notes-container {
    max-width: 90vw;
  }

}

@media (min-width:1025px) {

  /* big landscape tablets, laptops, and desktops */
  .notes-index {
    margin-left: 240px;
    max-width: 85vw;

  }

  .side-menu-toggle {
    opacity: 0;
  }
}