:root {
    --main-bg-color: rgb(227, 122, 2);

    /* loading spinner colors */
    --border-clr: rgb(225, 216, 209);
    --spinning-bar: rgb(255, 158, 12);

    /* mail colors */
    --mail-bg: rgb(201, 201, 201);
    --hover-border-clr: rgb(97, 97, 97);
}