.img-content {
    display: flex;
    justify-content: center;
}

.img-content img {
    width: 30%;
    height: 30%;
}

.programmer-data {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.prog {
    display: flex;
    flex-direction: column;
}

.prog img {
    width: 30vh;
}