header {
    background: lightcyan;
    border-bottom: 2px solid white;
}

.app-header {
    display: grid;
    justify-content: space-between;
    padding: 20px 0;
    grid-template-columns: 40px 1fr 1fr 40px;
}

nav {
    display: flex;
    justify-content: end;
}

nav a {
    margin: .5em;
    grid-column-start: 3;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}

.img-container {
    width: 100px;
    grid-column-start: 2;
}