.header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    height: 64px;
    padding: 0 16px;
}

.header h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
}

nav {
    display: flex;
    justify-content: end;
    height: 100%;
}

nav a {
    margin: .5em;
    grid-column-start: 3;
    font-size: 1.3rem;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
}

.img-container {
    width: 200px;
    grid-column-start: 2;
}

.app-header {
    padding-left: 70px;
    justify-content: space-between;
}

.side-menu-toggle {
    position: fixed;
    font-size: 1.5rem;
    /* top: 10px; */
    background-color: transparent;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 35px;
}

.side-menu-toggle:hover {
    background-color: rgb(255, 255, 255);
    transition: background-color .3s;
}

.amogus {
    font-family: amongus;
    font-size: 2.5rem;
}


.side-menu-toggle:active {
    position: fixed;
    font-size: 1.5rem;
    /* top: 10px; */
    background-color: gray;
    border: none;
}

.app-menu {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.link-container {
    top: 40px;
    right: 36px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 15rem;
    height: 15rem;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    outline: 2px black solid;
    transform: translateY(-150%);
    z-index: 15;
}

.link-container.open {
    transform: translateY(0);
}

.link-container a {
    padding: 20px;
    max-width: 100%;
}

@media (max-width:1025px) {

    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .app-header {
        padding-left: 70px;
    }



}


@media (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */

    .side-menu-toggle {
        opacity: 0;
    }
}