.header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
    height: 64px;
    padding: 0 16px;
}

.header h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
}

nav {
    display: flex;
    justify-content: end;
}

nav a {
    margin: .5em;
    grid-column-start: 3;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}

.img-container {
    width: 200px;
    grid-column-start: 2;
}


.side-menu-toggle {
    position: fixed;
    font-size: 1.5rem;
    /* top: 10px; */
    background-color: transparent;
    border: none;
    border-radius: 10px;
    height: 35px;
    width: 35px;
}

.side-menu-toggle:hover {
    background-color: rgb(255, 255, 255);
    transition: background-color .3s;
}

.side-menu-toggle:active {
    position: fixed;
    font-size: 1.5rem;
    /* top: 10px; */
    background-color: gray;
    border: none;
}

@media (max-width:1025px) {

    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .app-header {
        padding-left: 70px;
        /* position: relative; */
        /* width: 200px; */
        /* margin-right: 500px; */
        /* grid-column-start: 2; */
    }



}


@media (min-width:1025px) {

    /* big landscape tablets, laptops, and desktops */
    .header {
        background-color: greenyellow;
    }

    .side-menu-toggle {
        opacity: 0;
    }
}